.DS_Store
*.pyc
*.fif
*.pkl
*.TextGrid
*.csv
*.pdf
*.pt
*.zip
*.wav
*.png
*.json
*.parquet
*.joblib
*.h5
*.ipynb
.nfs*
*.egg-info

.ipynb_checkpoints
.snakemake
outputs
logs

.venv

# scratch notebooks
2024*.ipynb
2025*.ipynb
